@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {

    width: 1430px;

    background-color: #F5F5F5;
}

header {

    width: 1430px;
    height: 100px;
    background-color: #2A2E3C;

    padding: 10px 40px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Urbanist', sans-serif;
}

.green {

    color: #57C9B5;

}

.main-summary {

    width: 1430px;
    height: 400px;

    background-image: url(https://i1.trekearth.com/photos/37190/sh106908_te.jpg);
    background-size: cover;
    background-position-y: center;
    
    padding: 10px;
    box-sizing: border-box;
    
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    font-family: 'Kaisei Tokumin', serif;
}

.white {
    color: #ffffff;
}

.gold {
    color: #A68654;
}

.main-paragraph {

    margin: 100px 80px;
}

.youtube {

    width: 1280px;
    height: 720px;

    padding: 60px 60px 0px 60px;
}

.div-lista {
    background-color: #2A2E3C;

    padding: 5px 40px;
    box-sizing: border-box;
}

.curiosidades {

    font-family: 'Urbanist', sans-serif;
}

.lista {

    font-size: 17px;
    font-family: 'Kaisei Tokumin', serif;
    
}

.icones {

    background-color: #57C9B5;
    padding: 10px;

}

.icone-img {

    width: 60px;
    height: 60px;
    margin-left: 15px;

}

form {

    margin: 20px;
    grid-area: form;
    z-index: 1;
    
}

fieldset {

    padding: 15px;
    border-color: #A68654;
    z-index: 1;

}

legend {

    color: #A68654;
    font-style: italic;
    z-index: 1;
    font-size: 20px;

}

div {

    margin: 5px;

}

input {
    margin: 5px;
    color: #A68654;
    border-radius: 5px;
    padding: 4px;
}

input:hover {
    border-color: #57C9B5;
    transform: scale(1.1);
}

option {
    color: #A68654;
}

select {
    color: #A68654;
    padding: 4px;
}

select:hover {
    border-color: #57C9B5;
    transform: scale(1.1);
}

h3 {
    font-style: italic;
    margin: 5px;
    color: #57C9B5;
}

textarea {
    color: #A68654;
    padding: 2px;
}

textarea:hover {
    border-color: #57C9B5;
    transform: scale(1.02);
}

.botoes {
    margin: 15px 15px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 0 auto;
    color: #A68654;
    background-color: #2A2E3C;
    border-radius: 5px;
    font-size: 15px;
}

button:hover {
    border-color: #57C9B5;
    transform: scale(1.08);
}
